.about {
  background-image: url('../img/background2.png');
  @include background;

  width: 100%;
  display: grid;
  grid-template-areas: 
    "logo"
    "captain"
    "text";

  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  
  &__logo {
    grid-area: logo;
    width: 90%;  
    margin: 2rem; 
  }

  &__captain-marvel {
    grid-area: captain;
    width: 30%;
    margin: auto;

    animation: flying 5s ease infinite alternate both;

  }

  &__txt-box {
    grid-area: text;
    @include flex-center;
    flex-direction: column;
    background: rgba(95, 35, 37, 0.4);
 
    width: 100%;
    height: 100%;
    padding: 2rem;
    margin-bottom: 4rem;
  }

  &__txt,   &__btn{
    font-size: 1.2rem;
    line-height: 3rem;
    letter-spacing: .6rem;
  }

  &__btn {
   background-color: $color-primary; 
   border-radius: $border-radius;
   color: $color-tertiary;
   padding: 1rem 1.2rem;
   margin: 2rem 0;
   transition: $transition;
  }
  &__btn:hover {
    background-color: #1d0b0b;
    filter: $drop-shadow;
  }
}